.new-arrivals {
    padding: 100px;
    text-align: center;
}

.new-arrivals-title {
    font-size: 2.5rem;
    text-decoration: underline;
    margin-bottom: 30px;
}

.games-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.games-block {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    max-height: 580px;
    transition: transform 0.3s;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px;
}

.shoe-block:hover {
    transform: scale(1.03);
}

.games-image {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #ddd;
}

.games-name {
    padding: 5px;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}

.games-price {
    padding: 5px;
    font-size: 1rem;
    color: #8e00ff;
    font-weight: bold;
}

h2 {
    color: rgb(0, 0, 0);
}